---
name: Default

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_publish:
    name: Build and Publish
    uses: wealthsimple/public-github-workflows/.github/workflows/ruby-gem-build.yaml@main
    secrets: inherit
